.avatar {
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.item {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  margin: 5px 0;
  padding: 10px 60px;
}
.withShadow {
  box-shadow: 10px 5px 5px gray;
  /* list-style: none; */
}
.status {
  content: '•';
}

.red {
  color: red;
}
.green {
  color: green;
}
