.statList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /* gap: 25px; */
  /* border: 1px solid black; */
}
.item {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(151, 151, 212);
}
.title {
  color: rgb(61, 52, 52);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  /* align-items: center;
  justify-content: center; */
}
.statistics {
  padding: 0 auto;
}
