.name {
  color: red;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  line-height: 1.125; /* 109.091% */
  letter-spacing: -0.22px;
  text-transform: uppercase;
}

.red {
  color: red;
}
.green {
  color: green;
}
/* .friendList {
  display: flex;
  flex-direction: row;
} */
.totalInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
