.name {
  display: inline-block;
  color: red;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  line-height: 1.125; /* 109.091% */
  letter-spacing: -0.22px;
  text-transform: uppercase;
}

.infoFr {
  display: flex;
  /* border: 1px solid #000; */
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}
